<!-- toc -->
<% if (toc(page.content).length !== 0) { %>
  <%- partial('_partial/toc') %>
<% } %>
<section class="px-6 max-w-prose mx-auto md:px-0">
  <!-- header -->
  <header class="overflow-hidden pt-6 pb-6 md:pt-12">
    <div class="pt-4 md:pt-6">
      <h1 id="article-title" class="text-[2rem] font-bold leading-snug mb-4 md:mb-6 md:text-[2.6rem]">
        <%- page.title %>
      </h1>
      <p class="mb-6">
        <%- page.excerpt %>
      </p>
    </div>
  </header>
  <!-- content -->
  <article class="post-content prose prose-code:before:content-none prose-code:after:content-none prose-code:border prose-code:border-gray-700 prose-code:rounded prose-code:px-1 prose-code:py-0.5 dark:prose-invert post-content">
    <%- page.content %>
  </article>
  <!-- sponsors -->
  <div class="mt-12">
    <p class="text-center text-sm text-gray-400">要不要请我喝杯咖啡呢？</p>

    <div class="mt-5 flex justify-center">
        <img src="/images/sponsors/alipay.png" width = "200" height="300" alt="Alipay" />
        <div>&nbsp;&nbsp;</div>
        <img src="/images/sponsors/weixin.jpeg" width = "200" height="300" alt="WeiXin" />
    </div>
  </div>
</section>
